@(title: String)(content: Html)(scripts: Html)

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='@Messages("website.cliche.one")'>
    <meta name="author" content="Kodelima">
    <title>@title</title>
    <link rel="shortcut icon" href='@routes.Assets.versioned("logo_favicon.jpg")' />

    <!-- Bootstrap core CSS -->
    <link href='@routes.Assets.versioned("webapp/css/root.css")' rel="stylesheet" type="text/css">

    <!-- Game -->
    <script src='@routes.Assets.versioned("webapp/js/jquery.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("webapp/game/scripts/src-noconflict/ace.js")' type="text/javascript" charset="utf-8"></script>
    <script src='@routes.Assets.versioned("webapp/game/scripts/maqueta.js")' type="text/javascript" charset="utf-8"></script>

</head>

<body>

    @if(session.get("email")){

        @includes.headerDashboard()
        @includes.menuLeftStudent()

        <div class="content">@content</div>

    }else{
        @includes.headerLogin("#333")
        <div class="content">@content</div>
    }

    @includes.footerScripts()

    @scripts

</body>

</html>
