<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kodelima">
    <title>@Messages("website.notfound")</title>
    <link href='@routes.Assets.versioned("webapp/css/root.css")' rel="stylesheet" type="text/css">

    <style type="text/css">
        body{background: #F5F5F5;}
    </style>
</head>

<body>

    <div class="error-pages">

        <h1>Lo sentimos, no pudimos encontrar esta p&aacute;gina</h1>
        <h4>Es posible que no exista o que haya sido borrada</h4>

        <div class="bottom-links">
            <a href="/" class="btn btn-light">Ir al Inicio</a>
        </div>

    </div>

</body>
