<!-- ================================================
  jQuery Library
  ================================================ -->


<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/bootstrap/bootstrap.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/plugins.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/bootstrap-select/bootstrap-select.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/bootstrap-toggle/bootstrap-toggle.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/summernote/summernote.min.js")'></script>

<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/easypiechart/easypiechart.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/easypiechart/easypiechart-plugin.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/sparkline/sparkline.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("webapp/js/sparkline/sparkline-plugin.js")'></script>
