
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: local('Reenie Beanie'), local('ReenieBeanie'), format('woff2');
  unicode-range:
  U+0000-00FF,U+0131,
  U+0152-0153,U+02C6,U+02DA,
  U+02DC,U+2000-206F,U+2074,
  U+20AC,U+2212,U+2215,
  U+E0FF,U+EFFD,U+F000;
} 

#divpostit{
  font-size: 9px;
}

#divpostit h2,p{
  font-size:100%;
  font-weight:normal;
}

#divpostit ul,li{
  list-style:none;
}
#divpostit ul{
  overflow:hidden;
  padding:3em;
}
#divpostit ul li a{
  text-decoration:none;
  color:#000;
  background:#ffca28;
  display:block;
  height:50%;
  width:20em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

#divpostit ul li{
  margin:1em;
  float:left;
}
#divpostit ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
#divpostit ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
#divpostit ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
#divpostit ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#66bb6a;
}

#divpostit ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ec407a;
}

#divpostit ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

#divpostit ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

#divpostit ol{text-align:center;}
#divpostit ol li{display:inline;padding-right:1em;}
#divpostit ol li a{color:#fff;}
